body {
    background-color: rgb(162, 48, 200);
}
h1 {
    color:rgb(234, 231, 4);
}
button:hover{
    background-color:black
}
a{
    color: rgb(12, 8, 8);
    font-size: 25px;
}
a:hover{
    color: aliceblue;
}
button{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}