*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#1d0f2a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#111827;
    position:fixed;
    width:100%;
    top:0;
}

nav h2{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:45px;
}

.hero h2{
    font-size:60px;
    color:#38bdf8;
    margin:10px 0;
}

.hero h3{
    font-size:30px;
    margin-bottom:20px;
}

.hero p{
    width:700px;
    max-width:90%;
    margin:auto;
    line-height:1.7;
}

button{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:30px;
    background:#38bdf8;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}
font-family: Arial, Helvetica, sans-serif;
font-family: "Poppins", sans-serif;

<div class="social-icons">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
</div>
.social-icons{
    margin-top:30px;
}

.social-icons a{
    color:white;
    font-size:30px;
    margin:0 15px;
    transition:0.3s;
}

.social-icons a:hover{
    color:#38bdf8;
    transform:translateY(-5px);
}